# Ignore database files
*.sqlite3
*.db

# Ignore virtual environment
virtual_env/
__pycache__/

# Ignore static files
/static/

# Ignore media files
/media/

# Ignore local settings
local_settings.py

# Ignore IDE/Editor-specific files
.idea/
.vscode/

# Ignore system-specific files
*.pyc
*.pyo
__pycache__/
.DS_Store
Thumbs.db

# Ignore logs
*.log
log/
re
# Ignore configuration files with sensitive information
*.env
*.ini
*.conf
*.cfg
